@use '../abstract' as *;

.last-matches {
  
  @include bp(sm) {
    order: 90;
    min-height: 260px;
  }

  img {
    width: 40px;
  }

  img:last-child {
    transform: scaleX(-1);
  }

  li {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__log {
    display: flex;
    flex-direction: column-reverse;
    max-width: 300px;
    margin-inline: auto;
    gap: 10px;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 8px;
    font-weight: 500;
  }

}