@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #1f1f1f;
  background: url(../img/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
